.banner-container {
    background-color: #222831;
    background-repeat: repeat-x;
    background-image: url(../../public/assets/images/banner/banner-pendukung.svg);
    background-size: clamp(60em, 100rem, 100em) auto, cover;
    background-position: top;
    display: flex;
    align-items: center;
}

.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }